<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />

    <title>Document</title>
</head>

<body>
    <div class="nav">
        <h1 class="navTitle RobotoMono">Techie's Home</h1>
{{#if logged_in}}
        <h2 class="navUser RobotoMono">Hello {{users.username}}:</h2>
{{/if}}

        <ul class="navUl">
            <li>
                <a class="navLi RobotoMono" href="/home">Home</a>
            </li>
            <li>
                <a class="navLi RobotoMono" href="/dashboard">Dashboard</a>
            </li>
            {{#if logged_in}}
            <li>
                <button class="logout RobotoMono" type="button" id="logout">Log out</button>
            </li>
            {{else}}
            <li>
                <a class="navLi RobotoMono" href="/">Login</a>
            </li>
            {{/if}}
        </ul>
    </div>
    {{{body}}}
</body>
{{!-- <script src="./js/script.js"></script> --}}
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
<script src="/js/post.js"></script>
</html>