<div class="postCenter">
    <div class="post">
        <h2 class=" RobotoMono postTitle">How do you feel about AI?</h2>
        <h2 class="RobotoMono postUsername">Coder321:</h2>
        <p class=" RobotoMono postBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit.Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

        <button class="RobotoMono postBtn">Comment</button>
    </div>
</div>

<div class="postCenter">
    <div class="post">
        <h2 class=" RobotoMono postTitle">What is the best JavaScript framework?</h2>
        <h2 class="RobotoMono postUsername">2/27/2023</h2>
        <h2 class="RobotoMono postUsername">TechHead98:</h2>
        <p class=" RobotoMono postBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
        <div>
            <div class="RobotoMono postComment">
                <h2 class="RobotoMono commentData">5/3/2023</h2>
                <h2 class="RobotoMono commentUsername">Techie234:</h2>
                <hr class="commentHr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore etF Fdolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip
            </div>
            <form>
                <textarea class="RobotoMono postComment commentInput">
        </textarea>
            </form>
            <button class="RobotoMono postBtn">Comment</button>
        </div>
    </div>
</div>