

{{#each posts as |post| }}

<div class="postCenter">
    <div class="post">
        <a class=" RobotoMono postTitle" href="/project/{{post.id}}" >{{post.title}}</a>
        <h2 class="RobotoMono postUsername">{{post.date}}</h2>
        <h2 class="RobotoMono postUsername">{{post.user.username}}</h2>
    </div>
</div>

{{/each}}
