<div class="postCenter">
    <div class="post">
        <h2 class=" RobotoMono postTitle">How do you feel about AI?</h2>
        <h2 class="RobotoMono postUsername">Coder321:</h2>
        <p class=" RobotoMono postBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit.Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
        {{comment}}
        <button class="RobotoMono postBtn">Comment</button>
    </div>
</div>

<div class="postCenter">
    <div class="post">
        <h2 class=" RobotoMono postTitle">What is the best JavaScript framework?</h2>
        <h2 class="RobotoMono postUsername">TechHead98:</h2>
        <p class=" RobotoMono postBody">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
            ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
        <div class="RobotoMono postComment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        </div>
        {{comment}}
        <button class="RobotoMono postBtn">Comment</button>
    </div>
</div>