


<div class="centerHome">

    <div class="flexcol">
        <h1 class="subtitle RobotoMono">Looks empty here. Let's post something!</h1>
        <form class="homeForm">
            <div class="homeDiv flexcol">
                <input type="text" class="RobotoMono homeTitle" value="Your Title...">{{postTitle}}</input>
                <textarea class=" RobotoMono homeTestarea" rows="10" cols="70" value="So here the thing...">{{postBody}}</textarea>
            </div>

            <button type="submit" class="plusBtn addPost">+</button>

        </form>

    </div>