{{!-- {{#ifeq post.user_id, user.user_id}} --}}
{{#each result as |post| }}

<div class="postCenter">
    <div class="post">
        <h2 class=" RobotoMono postTitle">{{post.title}}</h2>
        <h2 class="RobotoMono postUsername">{{post.date}}</h2>
        <h2 class="RobotoMono postUsername">{{post.User.username}}:</h2>
        <p class=" RobotoMono postBody">{{post.body}}</p>
    </div>
</div>
</div>

{{!-- {{/ifeq}} --}}
{{/each}}


<div class="centerHome" id="centerHome">
    <div class="flexcol" id="flexcol">
        <h1 class="subtitle RobotoMono">Looks empty here. Let's post something!</h1>
        <form class="homeForm addPost">
            <div class="homeDiv flexcol">
                <input type="text" class="RobotoMono homeTitle" name="post-title" value="Your Title..."></input>
                <textarea class=" RobotoMono homeTestarea" name="post-body" rows="10" cols="70"
                    value="So here the thing..."></textarea>
            </div>

            <button type="submit" class="plusBtn ">+</button>

        </form>

    </div>