<div class="center ">
    <h1 class="RobotoMono loginH1">Log in</h1>
    <hr class="loginHr">
    <form class="loginForm" id="login-form">
<div class="logDiv">
        <input type="password" id="username-login" class="textfield">
        <p class="RobotoMono">:username</p></input>
        <input type="password" id="password-login" class="textfield">
        <p class="RobotoMono">:password</p></input>
</div>
    <button class="RobotoMono">Login</button>
    </form>
    <hr class="loginHr">
    <div class="backtoback">
        <h3 class="RobotoMono ">No Account?</h3>
    </div>
    <form class="loginForm" id="signUp-form" action="">
<div class="logDiv">
        <input type="password" id="username-signUp" class="textfield">
        <p class="RobotoMono">:username</p></input>
        <input type="password" id="password-signUp" class="textfield">
        <p class="RobotoMono">:password</p></input>
</div>
    <button class="RobotoMono">Sign Up</button>
    </form>
</div>