


<div class="center ">
    <h1 class="RobotoMono loginH1">Welcome!</h1>
    <h2 class="RobotoMono">To your new home for all things tech! </h2>
    <hr class="loginHr">
<button class="RobotoMono" href="/login">Join now</button>


</div>