


<div class="center">
    <div class="startDiv">

    <h1 class="RobotoMono StartH1">Welcome!</h1>
    <hr class="StartHr">
    <h2 class="RobotoMono StartH2">To your new home for all things tech! </h2>
<a class="RobotoMono StartA" href="/login">Join now</a>
    </div>


</div>