
/* --------------- required on everything --------------- */
:root {
    --light: #D6EAF7;
    --one: #8e8eb8;
    --sec: #3c3361;
    --thr: rgb(196, 196, 241);
    --dark: #1b0b2b;
}

.Roboto{
    font-family: 'Roboto', sans-serif;
}

.RobotoMono{
    font-family: 'Roboto Mono', monospace;
}


body {
    background-color: var(--light);

}

/* --------------- required on everything --------------- */

/* --------------- basic --------------- */
button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: var(--sec);
    border: var(--sec);
    color: var(--light);
}

.center {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
    padding: 150px;

}
/* --------------- basic --------------- */


/* --------------- nav --------------- */

.nav {
    display: flex;
    background-color: var(--sec);
    padding: 30px;
    justify-content:space-between;
    align-items: center;

}

.navTitle {
    color: var(--light);
    background-color: var(--one);
    font-size: 42px;
    padding: 15px 40px 15px 40px ;
    border: solid 7px var(--light);
}


.navUser {
    color: var(--light);
    font-size: 36px;
    padding: 15px 40px 15px 40px ;
}

.navUl{
    display: flex;
    justify-content:space-evenly;

}

.navLi {
    color: var(--light);
    padding: 10px;
}


/* --------------- nav --------------- */

/* --------------- main --------------- */

.loginH1 {
    font-size: 40px;
}

.loginHr {
    border:var(--one) 3px solid;
    width: 60%;
}


.loginForm {
    padding: 40px;
    display: flex;
    align-items: center;
}


input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--one);
    border: #2B0B0C;
    
}


.backtoback {
    display: flex;
    justify-content:space-around;
    padding: 5px;
    align-items:center;
    width: 25%;
    
}

/* --------------- main --------------- */

/* --------------- home ---------------*/

.subtitle {
    margin: 30px;
    color: var(--one);
}

.plusBtn {
    font-size: 30px;
    background-color: var(--one);

}

/* --------------- home --------------- */
/* --------------- dashboard --------------- */


.postCenter {
    display: flex;
    justify-content: center;
    margin: 5%;
    
}



.post {
    background-color: var(--one);
    padding: 15px;
    width: 80%;

}

.postTitle {
    font-size: 35px;
    padding: 25px;
    border: dashed 8px var(--dark);
    background-color: var(--thr);
}
.postUsername{
    font-size: 20px;
    color: var(--light);
    margin: 10px;
}

.postBody {
    font-size: 16px;
    padding: 20px;
    margin-top: 15px;
    background-color: var(--thr);
}

.postComment {
    font-size: 16px;
    padding: 20px;
    margin-top: 15px;
    background-color: var(--thr);
    border-top: var(--sec) solid 5px;
}

.postBtn {
    font-size: 16px;
    margin-top: 10px;
}

/* --------------- dashboard --------------- */
