
:root {
    --light: #D6EAF7;
    --one: #8e8eb8;
    --sec: #3c3361;
    --dark: #1b0b2b;
}

.Roboto{
    font-family: 'Roboto', sans-serif;
}

.RobotoMono{
    font-family: 'Roboto Mono', monospace;
}



body {
    background-color: var(--light);
    text-align: center;
}

.center {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
    padding: 150px;

}
hr {
    border: #A08EB8 2px solid;
    width: 60%;
}


form {
    padding: 40px;
}


input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--one);
    border: #2B0B0C;
    
}


.backtoback {
    display: flex;
    justify-content:space-around;
    padding: 5px;
    align-items:center;
    width: 25%;
}

button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: var(--sec);
    border: var(--sec);
    color: var(--light);
}