
/* --------------- required on everything --------------- */
:root {
    --light: #D6EAF7;
    --one: #8e8eb8;
    --sec: #3c3361;
    --thr: rgb(196, 196, 241);
    --dark: #1b0b2b;
}

.Roboto{
    font-family: 'Roboto', sans-serif;
}

.RobotoMono{
    font-family: 'Roboto Mono', monospace;
}


body {
    background-color: var(--light);

}

/* --------------- required on everything --------------- */

/* --------------- basic --------------- */
button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background-color: var(--sec);
    border: var(--sec);
    color: var(--light);
}

.center {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
    padding: 150px;

}
/* --------------- basic --------------- */


/* --------------- nav --------------- */

.nav {
    display: flex;
    background-color: var(--sec);
    padding: 30px;
    justify-content:space-between;
    align-items: center;

}

.navTitle {
    color: var(--light);
    background-color: var(--one);
    font-size: 42px;
    padding: 15px 40px 15px 40px ;
    border: solid 7px var(--light);
}


.navUser {
    color: var(--light);
    font-size: 36px;
    padding: 15px 40px 15px 40px ;
}

.navUl{
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.navLi {
    color: var(--light);
    padding: 10px;
}

.logout {
    padding: 5px;
    font-size: 15px;
    background-color: #8e8eb8;
    color: #D6EAF7;
    margin-left: 20px;
}

/* --------------- nav --------------- */


/* --------------- start --------------- */

.startDiv {
    background-color: var(--one);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
    width: 80%;

}

.StartH1 {
    font-size: 55px;
    padding: 25px;
    margin-top: 50px;

    border: dashed 8px var(--dark);
    background-color: var(--light);
    text-align: center;
    width: 35%;

}

.StartHr {
    border: solid 4px var(--light);
    width: 70%;
    margin: 20px;
}

.StartH2 {
    font-size: 28px;
    margin: 30px;
    color: var(--dark);
    width: 50%;
    text-align: center;
    border-bottom: #3c3361 solid 3px;
}

.StartA{
    margin: 30px;
    font-size: 18px;
    padding: 15px 35px 15px 35px;
    background-color: var(--light);
    border-radius: 10px;
}



/* --------------- start --------------- */

/* --------------- login --------------- */

.loginH1 {
    font-size: 40px;
}

.loginHr {
    border:var(--one) 3px solid;
    width: 60%;
}

.logDiv {
    display: flex;
    flex-direction: row;
    align-items:center;
    padding-bottom: 20px;
}

.loginForm {
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



input {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--one);
    border: #2B0B0C;
    
}


.backtoback {
    display: flex;
    justify-content:space-around;
    padding: 5px;
    align-items:center;
    width: 25%;
    
}

/* --------------- login --------------- */

/* --------------- home ---------------*/

.flexcol{
    display: flex;
    flex-direction: column;
  text-align: center;

}

.centerHome{
        
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark);
    padding-top: 150px;
}

.homeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeDiv {

}


.homeTitle{
border-radius: 0%;
font-size: 20px;

}

.homeTextarea{
    background-color: #a0a0c9;
    font-size: 14px;
    padding: 15px

}

.subtitle {
    margin: 30px;
    color: var(--one);
}

.plusBtn {
    font-size: 30px;
    background-color: var(--one);
    margin: 20px;

}

/* --------------- home --------------- */
/* --------------- dashboard --------------- */


.postCenter {
    display: flex;
    justify-content: center;
    margin: 5%;
    
}



.post {
    background-color: var(--one);
    padding: 15px;
    width: 80%;

}

.postTitle {
    font-size: 35px;
    padding: 25px;
    border: dashed 8px var(--dark);
    background-color: var(--thr);
    word-wrap: break-word;
}
.postUsername{
    font-size: 20px;
    color: var(--light);
    margin: 10px;
}

.postBody {
    font-size: 16px;
    padding: 20px;
    margin-top: 15px;
    background-color: var(--thr);
    word-wrap: break-word;
}

.postComment {
    font-size: 16px;
    padding: 20px;
    margin-top: 15px;
    background-color: var(--thr);
    border-top: var(--sec) solid 5px;
}

.postBtn {
    font-size: 16px;
    margin-top: 10px;
}


/* --------------- dashboard --------------- */



.commentData {
    color: var(--sec);
}

.commentUsername {
color: var(--sec);

}

.commentHr {
    color: var(--sec);
    border-bottom: solid 2px var(--one);
    width: 100%;
}
.commentInput{
    width: 80%;
    max-width: 80%;
}